{% extends 'base.html' %}

{% block content %}
<div class="row">

<div class="master_card_wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="master_card">

	<div class="master_description col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="row description_row">
		<input type="file" name="img" class="add_form_img" form="add_form">
		</div>

		<div class="row description_row">
		<h3><input required placeholder="Имя" type="text" value="{{ master.name }}" name="name" form="add_form""></h3>
		</div>

		<div class="row description_row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>О мастере:</p>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<textarea class="edit_key about" name="about" id="about" name="about" form="add_form">{{ master.about }}</textarea>
		</div>
		</div>

		<div class="row description_row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>Город:</p>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<select class="edit_key" id="city" name="city_id" form="add_form" >
				{% for city in cities %}
				{% if city.id == master.city_id %}
					<option value="{{ city.id }}" selected>
						{{ city.value }}
					</option>
				{% else %}
					<option value="{{ city.id }}">
						{{ city.value }}
					</option>
				{% endif %}
				{% endfor %}
			</select>
		</div>
		</div>

		<div class="row description_row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>Телефон:</p>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<input class="edit_key" type="text" value="{{ master.phone }}" name="phone" form="add_form">
		</div>
		</div>

		<div class="row description_row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>Email:</p>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<input class="edit_key" type="text" value="{{ master.mail }}" name="mail" form="add_form">
		</div>
		</div>

		<div class="row description_row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>Стили:</p>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<div class="styles">
				<select class="edit_key" id="style" name="style_ids" form="add_form" multiple="multiple">
					<option value="">Нет</option>
					{% for style in styles %}
					{% if style in master.style_of_choice.all %}
						<option value="{{ style.id }}" selected>
							{{ style.value }}
						</option>
					{% else %}
						<option value="{{ style.id }}">
							{{ style.value }}
						</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>
		</div>

		<div class="row description_row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>Сайт:</p>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<input class="edit_key" type="text" value="" name="site" form="add_form"">
		</div>
		</div>

		<div class="row description_row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>VK:</p>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<input class="edit_key" type="text" value="{{ master.vk }}" name="vk" form="add_form">
		</div>
		</div>

		<div class="row description_row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>FB:</p>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<input class="edit_key" type="text" value="{{ master.facebook }}" name="facebook" form="add_form">
		</div>
		</div>

		<div class="row description_row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>Instagram:</p>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<input class="edit_key" type="text" value="{{ master.instagram }}" name="instagram" form="add_form">
		</div>
		</div>

		<div class="row description_row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>WhatsApp:</p>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<input class="edit_key" type="text" value="{{ master.whatsapp }}" name="whatsapp" form="add_form">
		</div>
		</div>

		<div class="row description_row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p>Viber:</p>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<input class="edit_key" type="text" value="{{ master.viber }}" name="viber" form="add_form">
		</div>
		</div>

		<form action="/master/" method="POST" enctype="multipart/form-data" class="edit_form" id="add_form">
			<input type="text" name="action" value="create" hidden>
			<button class="send edit" type="submit">Добавить</button>
		</form>

	</div>
<div class="clearfix"></div>
</div>
</div>

</div><!--/row-->

{% endblock %}