{% extends 'base.html' %}

{% block content %}
<div class="row">

<div class="tattoo_card_wrapper col-xs-12">

<div class="tattoo_card">

	<div class="row description_row">
		<div class="descripition_item col-xs-2"><p class="key">Животные:</p></div>
		<div class="descripition_item col-xs-6">
			<select class="edit_key" id="content" name="content_id" form="add_form">
				<option value="">Нет</option>
				{% for content in contents %}
					<option value="{{ content.id }}">
						{{ content.value }}
					</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="row description_row">
		<div class="descripition_item col-xs-2"><p class="key">Стиль:</p></div>
		<div class="descripition_item col-xs-6">
			<select class="edit_key" id="style" name="style_id" form="add_form">
				<option value="">Нет</option>
				{% for style in styles %}
					<option value="{{ style.id }}">
						{{ style.value }}
					</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="row description_row">
		<div class="descripition_item col-xs-2"><p class="key">Часть тела:</p></div>
		<div class="descripition_item col-xs-6">
			<select class="edit_key" id="bodypart" name="bodypart_id" form="add_form">
				<option value="">Нет</option>
				{% for bodypart in bodyparts %}
					<option value="{{ bodypart.id }}">
						{{ bodypart.value }}
					</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="row description_row">
		<div class="descripition_item col-xs-2"><p class="key">Мастер:</p></div>
		<div class="descripition_item col-xs-6">
			<select class="edit_key" id="master" name="master_id" form="add_form">
				<option value="">Нет</option>
				{% for master in masters %}
					<option value="{{ master.id }}">
						{{ master.name }}
					</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="row description_row">
		<div class="descripition_item col-xs-2">
			<input type="file" name="img" class="add_form_img" form="add_form">
		</div>
	</div>

	<form action="/tattoo/" enctype="multipart/form-data" method="POST" class="edit_form" id="add_form">
		<input type="text" name="action" value="create" hidden>
		<button class="send edit" type="submit">Добавить</button>
	</form>

</div>
</div>

</div><!--/row-->
{% endblock %}