{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="Tattoogram admin panel">
		<meta name="author" content="Denis Kostylev">

		<link rel="icon" href="../../favicon.ico">

		<title>Tattoogram {{ page_name }}</title>

		<link href="{% static 'web/vendor/normalize.css' %}" rel="stylesheet">
		<link href="{% static 'web/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'web/vendor/select2/css/select2.min.css' %}" rel="stylesheet">
		<link href="{% static 'web/css/main.css' %}" rel="stylesheet">

	</head>

	<body>

	<div class="site-wrapper">
	<div class="site-wrapper-inner">
	<div class="cover-container">
		{% include 'menu.html' %}
	</div>

		<div class="container">
		{% if status == 'edited' %}
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				Обновлено.
			</div>
		{% elif status == 'error' %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				Возникла ошибка, попробуйте еще раз.
			</div>
		{% elif status == 'deleted' %}
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				Удалено.
			</div>
		{% elif status == 'added' %}
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				Добавлено.
			</div>
		{% elif status == 'invalid_login' %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				Неправильный логин или пароль. Попробуйте еще раз.
			</div>
		{% elif status.new_login %}
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				Новая учетная запись создана. Логин: {{ status.new_login }}. Пароль: {{ status.new_password }}, сообщите его менеджеру. Настоятельно рекомендуется сменить его.
			</div>
		{% endif %}

		{% block content %}
		{% endblock %}

		</div>

		<!--<div class="footer">
			<p><a href="mailto:mail@kostydenis.me">Denis Kostylev</a></p>
			<p>best view in google chrome</p>
			<p>2017</p>
		</div>-->

	</div>
	</div>

	<script src="{% static 'web/vendor/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'web/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'web/vendor/select2/js/select2.min.js' %}"></script>
	<script src="{% static 'web/js/main.js' %}"></script>

	</body>
</html>
