{% extends 'base.html' %}

{% block content %}

<div class="row">
{% if user.is_authenticated %}
<div class="master_card">
<h3>Животные</h3>
{% for content in contents %}

	<div class="city_wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="POST" action="/category/content/{{ content.id }}/" id="edit_content">
			<input type="text" name="value" value="{{ content.value }}">
			<input type="text" name="action" value="edit" hidden>
			<button type="submit" class="send edit">Обновить</button>
		</form>

		<form method="POST" action="/category/content/{{ content.id }}/">
			<input type="text" name="action" value="delete" hidden>
			<button type="submit" class="send delete" onclick="return confirm('Удалить? Изображения останутся в системе, но с пустой категорией')">Удалить</button>
		</form>

		<a href="/category/content/{{ content.id }}" class="send edit">Перейти</a>
	</div>
	<div class="clearfix"></div>

{% endfor %}
<div class="city_wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">

	<form method="POST" action="/category/content/" id="create_content">
		<input type="text" name="value" value="" placeholder="Новое название">
		<input type="text" name="action" value="create" hidden>
		<button type="submit" class="send edit">Добавить</button>
	</form>
</div>
<div class="clearfix"></div>
</div>

<div class="master_card">
<h3>Стили</h3>
{% for style in styles %}

	<div class="city_wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="POST" action="/category/style/{{ style.id }}/" id="edit_style">
			<input type="text" name="value" value="{{ style.value }}">
			<input type="text" name="action" value="edit" hidden>
			<button type="submit" class="send edit">Обновить</button>
		</form>

		<form method="POST" action="/category/style/{{ style.id }}/">
			<input type="text" name="action" value="delete" hidden>
			<button type="submit" class="send delete" onclick="return confirm('Удалить? Изображения останутся в системе, но с пустой категорией')">Удалить</button>
		</form>

		<a href="/category/style/{{ style.id }}" class="send edit">Перейти</a>
	</div>
	<div class="clearfix"></div>

{% endfor %}
<div class="city_wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">

	<form method="POST" action="/category/style/" id="create_style">
		<input type="text" name="value" value="" placeholder="Новое название">
		<input type="text" name="action" value="create" hidden>
		<button type="submit" class="send edit">Добавить</button>
	</form>
</div>
<div class="clearfix"></div>
</div>

<div class="master_card">
<h3>Части тела</h3>
{% for bodypart in bodyparts %}

	<div class="city_wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="POST" action="/category/bodypart/{{ bodypart.id }}/" id="edit_bodypart">
			<input type="text" name="value" value="{{ bodypart.value }}">
			<input type="text" name="action" value="edit" hidden>
			<button type="submit" class="send edit">Обновить</button>
		</form>

		<form method="POST" action="/category/bodypart/{{ bodypart.id }}/">
			<input type="text" name="action" value="delete" hidden>
			<button type="submit" class="send delete" onclick="return confirm('Удалить? Изображения останутся в системе, но с пустой категорией')">Удалить</button>
		</form>

		<a href="/category/bodypart/{{ bodypart.id }}/" class="send edit">Перейти</a>
	</div>
	<div class="clearfix"></div>

{% endfor %}
<div class="city_wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">

	<form method="POST" action="/category/bodypart/" id="create_bodypart">
		<input type="text" name="value" value="" placeholder="Новое название">
		<input type="text" name="action" value="create" hidden>
		<button type="submit" class="send edit">Добавить</button>
	</form>
</div>
<div class="clearfix"></div>
</div>

{% else %}
<div class="master_card">
	<h3>Животные</h3>
	<ul class="cities_list">
	{% for content in contents %}
		<li><a href="/category/content/{{ content.id }}">{{ content.value }}</a></li>
	{% endfor %}
	</ul>
	<h3>Стили</h3>
	<ul class="cities_list">
	{% for style in styles %}
		<li><a href="/category/style/{{ style.id }}">{{ style.value }}</a></li>
	{% endfor %}
	</ul>
	<h3>Части тела</h3>
	<ul class="cities_list">
	{% for bodypart in bodyparts %}
		<li><a href="/category/bodypart/{{ bodypart.id }}">{{ bodypart.value }}</a></li>
	{% endfor %}
	</ul>
</div>
{% endif %}

<div class="clearfix"></div>
</div><!--/row-->



{% endblock %}