{% extends 'base.html' %}

{% block content %}

<div class="row">
<div class="master_card">
{% if user.is_authenticated %}
{% for city in cities %}
	<div class="city_wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<form method="POST" action="/city/{{ city.id }}/" id="edit_city">
			<input type="text" name="value" value="{{ city.value }}">
			<input type="text" name="action" value="edit" hidden>
			<button type="submit" class="send edit">Обновить</button>
		</form>

		<form method="POST" action="/city/{{ city.id }}/">
			<input type="text" name="action" value="delete" hidden>
			<button type="submit" class="send delete" onclick="return confirm('Удалить?')">Удалить</button>
		</form>

		<a href="/city/{{ city.id }}" class="send edit">Перейти</a>
	</div>
	<div class="clearfix"></div>

{% endfor %}

<div class="city_wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<input type="text" name="value" value="{{ city.value }}" id="" form="create_city">

	<form method="POST" action="/city/" id="create_city">
		<input type="text" name="action" value="create" hidden>
		<button type="submit" class="send edit">Добавить</button>
	</form>
</div>

{% else %}
	{% for city in cities %}
	<ul class="cities_list">
		<li><a href="/city/{{ city.id }}">{{ city.value }}</a></li>
	</ul>
{% endfor %}
{% endif %}

<div class="clearfix"></div>
</div>
</div><!--/row-->



{% endblock %}