{% extends 'base.html' %}
{% block content %}

	<form class="form-signin" action="/login/" method="POST">
		<h4 class="form-signin-heading"><ins>Введите логин и пароль</ins></h4>

		<label for="input_login" class="sr-only">Логин</label>
		<input type="text" id="input_login" class="form-control" placeholder="Логин" required autofocus name="username">
		<label for="input_password" class="sr-only">Пароль</label>
		<input type="password" id="input_password" class="form-control" placeholder="Пароль" required name="password">

		<div class="checkbox">
			<label>
				<input type="checkbox" name="remember_me" checked> Запомнить меня
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>

	</form>

{% endblock %}
