{% extends 'base.html' %}

{% block content %}

<div class="row">
<div class="master_card">
<h3>Этот аккаунт</h3>

<div class="city_wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">

	<form method="POST" action="/manager/{{ user.id }}/" id="edit_content">
		<input type="text" name="value" placeholder="Изменить имя пользователя" value="{{ user }}">
		<input id="password" type="password" placeholder="Новый пароль" name="password" value="" onchange="check_pass()">
		<input id="confirm_password" type="password" placeholder="Повторите пароль" name="" value="" onchange="check_pass()">
		<input type="text" name="action" value="edit" hidden>
		<button id="password_submit" type="submit" class="send edit" disabled>Обновить пароль</button>
	</form>

	<form method="POST" action="/manager/{{ user.id }}/">
		<input type="text" name="action" value="delete" hidden>
		<button type="submit" class="send delete" onclick="return confirm('Удалить? Изображения останутся в системе, но с пустой категорией')">Удалить</button>
	</form>
</div>
<div class="clearfix"></div>
</div>

<div class="master_card">
<h3>Добавить менеджера</h3>
<div class="city_wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">

	<form method="POST" action="/manager/" id="create_manager">
		<input type="text" name="username" value="" placeholder="Имя пользователя">
		<input type="text" name="action" value="create" hidden>
		<button type="submit" class="send edit">Добавить</button>
	</form>
</div>
<div class="clearfix"></div>
</div>

<div class="master_card">
	<h3>Все менеджеры</h3>
	{% for manager in managers %}
	<div class="city_wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<input type="text" name="value" value="{{ manager }}" placeholder="Имя пользователя" disabled>
		<form method="POST" action="/manager/{{ manager.id }}/" class="manager_form">
			<input type="text" name="action" value="delete" hidden>
			<button type="submit" class="send delete" onclick="return confirm('Удалить?')">Удалить</button>
		</form>
	</div>
	{% endfor %}
	<div class="clearfix"></div>
</div>

<script>
	function check_pass() {
		if (document.getElementById('password').value ==
				document.getElementById('confirm_password').value) {
			document.getElementById('password_submit').disabled = false;
		} else {
			document.getElementById('password_submit').disabled = true;
		}
	};
	function generate_password() {
		return Math.random().toString(36).slice(-8)
	}
</script>


{% endblock %}