{% extends 'base.html' %}

{% block content %}

<div class="row">

<div class="master_card_wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="master_card">
	{% if master.photo %}
		<div class="master_full_photo_wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<img class="" src="/media/{{ master.photo }}">
		<div class="clearfix"></div>
		</div>
	{% endif %}

	<div class="master_description col-xs-12 col-sm-12 col-md-12 col-lg-12">
		{% if user.is_authenticated %}
			{% if master.photo %}
				<p>
					<input type="checkbox" id="deletephoto" name="deletephoto" value="deletephoto" form="update_form">
					<label for="deletephoto">Удалить изображение</label>
				</p>
			{% endif %}
			<p>Обновить изображение: <input type="file" name="img" class="add_form_img" form="update_form"></p>

			<h3><input placeholder="Имя" type="text" value="{{ master.name }}" name="name" form="update_form"></h3>

			<div class="row description_row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<p>О мастере:</p>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<textarea class="edit_key about" name="about" id="about" name="about" form="update_form">{{ master.about }}</textarea>
			</div>
			</div>

			<div class="row description_row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<p>Город:</p>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<select class="edit_key" id="city" name="city_id" form="update_form" >
					{% for city in cities %}
					{% if city.id == master.city_id %}
						<option value="{{ city.id }}" selected>
							{{ city.value }}
						</option>
					{% else %}
						<option value="{{ city.id }}">
							{{ city.value }}
						</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
			</div>

			<div class="row description_row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<p>Адрес:</p>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<input class="edit_key" type="text" value="{{ master.address }}" name="address" form="update_form">
			</div>
			</div>

			<div class="row description_row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<p>Телефон:</p>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<input class="edit_key" type="text" value="{{ master.phone }}" name="phone" form="update_form">
			</div>
			</div>

			<div class="row description_row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<p>Email:</p>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<input class="edit_key" type="text" value="{{ master.mail }}" name="mail" form="update_form">
			</div>
			</div>

			<div class="row description_row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<p>Стили:</p>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<div class="styles">
					<select class="edit_key" id="style" name="style_ids" form="update_form" multiple="multiple">
						<option value="">Нет</option>
						{% for style in styles %}
						{% if style in master.style_of_choice.all %}
							<option value="{{ style.id }}" selected>
								{{ style.value }}
							</option>
						{% else %}
							<option value="{{ style.id }}">
								{{ style.value }}
							</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
			</div>

			<div class="row description_row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<p>Сайт:</p>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<input class="edit_key" type="text" value="{{ master.site }}" name="site" form="update_form"">
			</div>
			</div>


			<div class="row description_row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<p>VK:</p>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<input class="edit_key" type="text" value="{{ master.vk }}" name="vk" form="update_form">
			</div>
			</div>

			<div class="row description_row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<p>FB:</p>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<input class="edit_key" type="text" value="{{ master.facebook }}" name="facebook" form="update_form">
			</div>
			</div>

			<div class="row description_row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<p>Instagram:</p>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<input class="edit_key" type="text" value="{{ master.instagram }}" name="instagram" form="update_form">
			</div>
			</div>

			<div class="row description_row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<p>WhatsApp:</p>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<input class="edit_key" type="text" value="{{ master.whatsapp }}" name="whatsapp" form="update_form">
			</div>
			</div>

			<div class="row description_row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<p>Viber:</p>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<input class="edit_key" type="text" value="{{ master.viber }}" name="viber" form="update_form">
			</div>
			</div>

			<form action="/master/{{master.id}}/" method="POST" enctype="multipart/form-data" class="edit_form" id="update_form">
				<input type="text" name="action" value="edit" hidden>
				<button class="send edit" type="submit">Обновить</button>
			</form>
			<form action="/master/{{master.id}}/" method="POST" class="edit_form" id="delete_form">
				<input type="text" name="action" value="delete" hidden>
				<button class="send delete" type="submit" onclick="return confirm('Удалить?')">Удалить</button>
			</form>

		{% else %}
			<h3>{{ master.name }}</h3>

			{% if master.about %}
				<p class="about"><b>О мастере:</b> {{ master.about }}</p>
			{% endif %}

			<a href="/city/{{ master.city_id }}">{{ master.city }}</a>
			<p>{{ master.phone }}</p>

			<div class="styles">
				<p>Стили:</p>
				{% for style in master.style_of_choice.all %}
					<a href="/master/{{ master.id }}">{{ style }}</a>
				{% endfor %}
			</div>

			<div class="social">
				<p>Сайт: <a href="{{ master.site }}">{{ master.site }}</a></p>
				<p>VK: {{ master.vk }}</p>
				<p>FB: {{ master.facebook }}</p>
				<p>Instagram: {{ master.instagram }}</p>
				<p>WhatsApp: {{ master.whatsapp }}</p>
				<p>Viber: {{ master.viber }}</p>
			</div>
		{% endif %}

	</div>
<div class="clearfix"></div>
</div>
</div>

</div><!--/row-->

{% endblock %}