{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
	<a href="/master?action=create" class="add_item">Добавить мастера</a>
{% endif %}

<div class="row">

{% for master in masters %}
	<div class="master_card_wrapper col-xs-12 col-sm-6 col-md-6 col-lg-6">
	<div class="master_card">
		<div class="master_photo_wrapper col-xs-7 col-sm-5 col-md-5 col-lg-5">
		<a href="/master/{{ master.id }}">
			<img class="master_photo img-responsive" src="/media/{{ master.photo }}">
		</a>
		<div class="clearfix"></div>
		</div>

		<div class="master_description col-xs-5 col-sm-7 col-md-7 col-lg-7">
			<a href="/master/{{ master.id }}"><h3>{{ master.name }}</h3></a>

			<a href="/city/{{ master.city_id }}">{{ master.city }}</a>
			<p>{{ master.phone }}</p>

		<p>Стили:
			{% for style in master.style_of_choice.all %}
				<a href="/category/style/{{ style.id }}">{{ style }}</a>
			{% endfor %}
			</div>
		</p>
	<div class="clearfix"></div>
	</div>
	</div>
{% endfor %}

</div><!--/row-->


<nav aria-label="Page navigation">
{% if masters.has_other_pages %}
<ul class="pagination">
{% if masters.has_previous %}
	<li><a href="?page={{ masters.previous_page_number }}">&laquo;</a></li>
{% else %}
	<li class="disabled"><span>&laquo;</span></li>
{% endif %}
{% for i in masters.paginator.page_range %}
	{% if masters.number == i %}
		<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
	{% else %}
		<li><a href="?page={{ i }}">{{ i }}</a></li>
	{% endif %}
{% endfor %}
{% if masters.has_next %}
	<li><a href="?page={{ masters.next_page_number }}">&raquo;</a></li>
{% else %}
	<li class="disabled"><span>&raquo;</span></li>
{% endif %}
</ul>
{% endif %}
</nav>

{% endblock %}