{% block menu %}
<div class="masthead clearfix">
<div class="inner">
	<h3 class="masthead-brand"><a href="/">Tattoogram</a></h3>
	<nav>
	<ul class="nav masthead-nav">
		<li>
			<p class="navbar-text navbar-right">
				<a class="navbar-link" href="/master">Мастеры</a>
			</p>
		</li>
		<li>
			<p class="navbar-text navbar-right">
				<a class="navbar-link" href="/category">Категории</a>
			</p>
		</li>
		<li>
			<p class="navbar-text navbar-right">
				<a class="navbar-link" href="/city/">Города</a>
			</p>
		</li>

		{% if user.is_authenticated %}
			<li>
				<p class="navbar-text navbar-right">
					<a class="navbar-link" href="/manager/">Менеджеры</a>
				</p>
			</li>

			<li>
				<p class="navbar-text navbar-right">Привет, {{user.get_username}}. <a class="navbar-link" href="/logout">Выйти</a></p>
			</li>
		{% else %}
			<li>
				<p class="navbar-text navbar-right">
					<a href="/login">Войти</a>
				</p>
			</li>
		{% endif %}
	</ul>
	</nav>
</div>
</div>
{% endblock %}

