{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
	<a href="/tattoo?action=create" class="add_item">Добавить изображение</a>
{% endif %}

<div class="row">

{% for tattoo in tattoos %}
	<div class="tattoo_card_wrapper col-xs-12 col-sm-6 col-md-4 col-lg-3">
	<div class="tattoo_card">
		<a href="/tattoo/{{ tattoo.id }}">
			<img class="tattoo_img" src="/media/{{ tattoo.img }}">
		</a>

		<div class="tattoo_description">
			{% if tattoo.content %}
				<a href="/category/content/{{ tattoo.content_id }}">{{ tattoo.content }}</a>
			{% endif %}
			{% if tattoo.style %}
				<a href="/category/style/{{ tattoo.style_id }}">{{ tattoo.style }}</a>
			{% endif %}
			{% if tattoo.bodypart %}
				<a href="/category/bodypart/{{ tattoo.bodypart_id }}">{{ tattoo.bodypart }}</a>
			{% endif %}

			{% if tattoo.master %}
				<p>Мастер: <a href="/master/{{ tattoo.master_id }}">{{ tattoo.master }}</a></p>
			{% endif %}
		</div>
	</div>
	</div>
{% endfor %}

</div><!--/row-->


<nav aria-label="Page navigation">
{% if tattoos.has_other_pages %}
<ul class="pagination">
{% if tattoos.has_previous %}
	<li><a href="?page={{ tattoos.previous_page_number }}">&laquo;</a></li>
{% else %}
	<li class="disabled"><span>&laquo;</span></li>
{% endif %}
{% for i in tattoos.paginator.page_range %}
	{% if tattoos.number == i %}
		<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
	{% else %}
		<li><a href="?page={{ i }}">{{ i }}</a></li>
	{% endif %}
{% endfor %}
{% if tattoos.has_next %}
	<li><a href="?page={{ tattoos.next_page_number }}">&raquo;</a></li>
{% else %}
	<li class="disabled"><span>&raquo;</span></li>
{% endif %}
</ul>
{% endif %}
</nav>

{% endblock %}