{% extends 'base.html' %}

{% block content %}
<div class="row">

<div class="tattoo_card_wrapper col-xs-12">

<div class="tattoo_card">

		<img class="tattoo_img" src="/media/{{ tattoo.img }}">

		{% if user.is_authenticated %}
			<div class="row description_row">
				<div class="descripition_item col-xs-2"><p class="key">Животные:</p></div>
				<div class="descripition_item col-xs-6">
					<select class="edit_key" id="content" name="content_id" form="update_form">
						<option value="">Нет</option>
						{% for content in contents %}
						{% if tattoo.content_id == content.id %}
							<option value="{{ content.id }}" selected>
								{{ content.value }}
							</option>
						{% else %}
							<option value="{{ content.id }}">
								{{ content.value }}
							</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="row description_row">
				<div class="descripition_item col-xs-2"><p class="key">Стиль:</p></div>
				<div class="descripition_item col-xs-6">
					<select class="edit_key" id="style" name="style_id" form="update_form">
						<option value="">Нет</option>
						{% for style in styles %}
						{% if tattoo.style_id == style.id %}
							<option value="{{ style.id }}" selected>
								{{ style.value }}
							</option>
						{% else %}
							<option value="{{ style.id }}">
								{{ style.value }}
							</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="row description_row">
				<div class="descripition_item col-xs-2"><p class="key">Часть тела:</p></div>
				<div class="descripition_item col-xs-6">
					<select class="edit_key" id="bodypart" name="bodypart_id" form="update_form">
						<option value="">Нет</option>
						{% for bodypart in bodyparts %}
						{% if tattoo.bodypart_id == bodypart.id %}
							<option value="{{ bodypart.id }}" selected>
								{{ bodypart.value }}
							</option>
						{% else %}
							<option value="{{ bodypart.id }}">
								{{ bodypart.value }}
							</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="row description_row">
				<div class="descripition_item col-xs-2"><p class="key">Мастер:</p></div>
				<div class="descripition_item col-xs-6">
					<select class="edit_key" id="master" name="master_id" form="update_form">
						<option value="">Нет</option>
						{% for master in masters %}
						{% if tattoo.master_id == master.id %}
							<option value="{{ master.id }}" selected>
								{{ master.name }}
							</option>
						{% else %}
							<option value="{{ master.id }}">
								{{ master.name }}
							</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>


			<form action="/tattoo/{{tattoo.id}}/" method="POST" class="edit_form" id="update_form">
				<input type="text" name="action" value="edit" hidden>
				<button class="send edit" type="submit">Обновить</button>
			</form>
			<form action="/tattoo/{{tattoo.id}}/" method="POST" class="edit_form" id="delete_form">
				<input type="text" name="action" value="delete" hidden>
				<button class="send delete" type="submit" onclick="return confirm('Удалить?')">Удалить</button>
			</form>
		{% else %}

		<div class="row description_row">
		<div class="descripition_item col-xs-2">
			<p class="key">Животные:</p>
		</div>
		<div class="descripition_item col-xs-6">
			<a class="value" href="/category/content/{{ tattoo.content_id }}">{{ tattoo.content }}</a>
		</div>
		</div>

		<div class="row description_row">
		<div class="descripition_item col-xs-2">
			<p class="key">Стиль:</p>
		</div>
		<div class="descripition_item col-xs-6">
			<a class="value" href="/category/style/{{ tattoo.style_id }}">{{ tattoo.style }}</a>
		</div>
		</div>

		<div class="row description_row">
		<div class="descripition_item col-xs-2">
			<p class="key">Часть тела:</p>
		</div>
		<div class="descripition_item col-xs-6">
			<a class="value" href="/category/bodypart/{{ tattoo.bodypart_id }}">{{ tattoo.bodypart }}</a>
		</div>
		</div>

		{% if tattoo.master %}
			<div class="row description_row">
			<div class="descripition_item col-xs-2">
				<p class="key">Мастер:</p>
			</div>
			<div class="descripition_item col-xs-6">
				<a class="value" href="/master/{{ tattoo.master_id }}">{{ tattoo.master }}</a>
			</div>
			</div>
		{% endif %}


		{% endif %}

	</div>
</div>

</div><!--/row-->
{% endblock %}